% include('fragments/head', title='Home / Not Twitter', stylesheet='style/index.css', script='js/index.js')
<body>
    <section class="modal hidden" id="modal-mount">
        <div class="modal-content" id="edit-tweet-modal">
        </div>
        <div class="modal-bg" id="modal-bg"></div>
    </section>
    <main class="home-main">
        <div class="left-side">
            <h1 style="margin-right: 1rem; color: rgba(0, 0, 0, .7)">ADMIN PAGE</h1>
        </div>
        <div class="tweet-deck-container">
            <div class="tweet-deck" id="tweet-deck">
                % if get('all_tweets'):
                    % for tweet in get('all_tweets'):
                        <div class="tweet" id="tweetid-{{tweet['tweet_id']}}" data-tweet_id="{{ tweet['tweet_id'] }}" data-timestamp="{{ tweet['tweet_timestamp'] }}">
                            <div class="tweet-container">
                                <div class="pfp-container">
                                    <img src="/image/{{ tweet['user_name'] }}/pfp.jpg" onerror="this.src='/image/default-pfp.jpg'">
                                </div>
                                <div class="content-container">
                                    <div class="tweet-header">
                                        <div class="user-text">
                                            <a>
                                                <span>{{ tweet['display_name'] }}</span>
                                                <span>@{{ tweet['user_name'] }}</span>
                                            </a>
                                        </div>
                                        <div class="tweeted-date">
                                        
                                        </div>
                                        <div class="tweet-settings" id="tweet-settings" data-tweet_id="{{ tweet['tweet_id'] }}">
                                            edit
                                        </div>
                                    </div>
                                    <div class="tweet-content">
                                        <div class="tweet-text">
                                            {{ tweet['tweet_text'] }}
                                        </div>
                                        <div class="tweet-img">
                                            <img src="/tweet/{{ tweet['tweet_id'] }}/twimg.jpg" onerror="this.parentNode.remove(this)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    % end
                % end
            </div>
        </div>
        <div class="right-side">
            <h1 style="margin-left: 1rem; color: rgba(0, 0, 0, .7)">ADMIN PAGE</h1>
        </div>
    </main>

</body>
</html>