@use '../abstracts/media-query';

.tweet-deck-container {
    grid-column: 2;
    border-left: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
    width: clamp(400px, 100vw, 600px);
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-query.respond-to(1021px) {
        width: clamp(320px, 100vw, calc(100% - 1rem));
    }

    .deck-header {
        position: sticky;
        inset: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.95);
        width: calc(100% - 2px);
        padding: 0 1rem;

        a {
            font-size: 1.275rem;
            font-weight: 700;
            color: black;
        }

        svg {
            width: 1.2rem;
        }
    }

    .new-tweet {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        border-bottom: 1px solid rgb(230, 230, 230);
        padding: .5rem 1rem 1rem 1rem;

        > img {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
        }

        form {
            width: calc(100% - 3rem - 1rem);

            textarea {
                display: flex;
                justify-content: center;
                border: none;
                outline: none;
                padding: 0.225rem 0;
                font-size: 1.2rem;
                width: 100%;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding-top: 1rem;
                resize: none;
                overflow: hidden;
                min-height: 2rem;
            }

            #media-container {
                display: flex;
                justify-content: center;
                flex-direction: column;

                > img {
                    width: 100%;
                    max-width: 500px;
                    border-radius: 1rem;
                }

                > button {
                    width: 2.2rem;
                    height: 2.2rem;
                    border-radius: 100%;
                    background: rgba(0, 0, 0, 0.7);
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(calc(2.2rem + 1rem));
                    margin-left: 1rem;

                    svg {
                        width: 1.2rem;
                        fill: white;
                    }
                }
            }
            
            .bottom-deck {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: .5rem;
                border-top: 1px solid rgba(0, 0, 0, .1);

                .media-upload {
                    transform: translateX(-.5rem);
                    padding: .5rem 0;
                    .image-upload {
                        border-radius: 100%;
                        width: 2.5rem;
                        height: 2.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
    
                        &:hover {
                            background: rgba(29, 155, 240, 0.1);
                        }
    
                        svg {
                            width: 1.3rem;
                            fill: rgb(29, 155, 240);
                        }
                    }
                }

                .tweet-btn {
                    padding: .7rem 1.2rem;
                    color: white;
                    border: none;
                    border-radius: 3rem;
                    cursor: pointer;
                    background: rgba(29, 155, 240, 0.6);

                    &[active] {
                        background: rgb(29, 155, 240);
                    }

                    &:hover {
                        background: rgb(19, 145, 230);
                    }
                }
            }
        }
    }

    .tweet-deck {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        .tweet {
            padding: 1rem;
            border-bottom: 1px solid rgb(230, 230, 230);

            .tweet-container {
                display: flex;

                .pfp-container {
                    img {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 100%;
                    }
                }

                .content-container {
                    margin-left: 1rem;

                    .tweet-header {
                        display: flex;
                        flex-direction: row;
                        gap: .5rem;
        
                        .user-text {
                            a {
                                display: flex;
                                gap: .2rem;
                                span {
                                    font-size: 1rem;
                                    font-weight: 500;
                                    color: rgba(0, 0, 0, 0.6);
        
                                    &:first-child {
                                        color: black;
                                    }
                                }
                            }
                        }
                        .tweeted-date {
                            font-size: 1rem;
                            font-weight: 500;
                            color: rgba(0, 0, 0, 0.6);
                        }

                        .more-svg {
                            margin-left: auto;
                        }
                    }
        
                    .tweet-content {
                        margin: .5rem 0;
        
                        .tweet-text {
                            margin-bottom: 1rem;
                            font-size: 1;
                            font-weight: 300;
                        }
        
                        .tweet-img {
                            img {
                                width: 100%;
                                max-width: calc(600px - 2rem);
                                border: 1px solid rgba(0, 0, 0, 0.2);
                                border-radius: 1rem;
                            }
                        }
                    }
        
                    .tweet-footer {
                        display: flex;
                        align-items: center;
                        justify-content: end;
        
                        .likes {
                            display: flex;
                            align-items: center;
                            gap: .3rem;
        
                            &:hover {
                                cursor: pointer;
        
                                .icon-container {
                                    border-radius: 100%;
                                    background: rgba(255, 0, 119, 0.1);
        
                                    svg {
                                        fill: rgba(255, 0, 119, 0.6);
                                    }
                                }
        
                                .like-count {
                                    color: rgba(255, 0, 119, 0.6);
                                }
                            }
                            
                            .icon-container {
                                width: 2rem;
                                height: 2rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
        
                                svg {
                                    // width: 1.2rem;
                                    // height: 1.2rem;
                                    width: 60%;
                                    fill: rgba(0, 0, 0, 0.6);
                                }
                            }
                            
                            .like-count {
                                font-size: 1rem;
                                font-weight: 500;
                                color: rgba(0, 0, 0, 0.6);
                            }
                        }
                    }
                }

            }

        }
    }

}